<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game | Bernstein-Vazirani</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styling/styles.css') }}" rel="stylesheet">
    {% block stylesheet %} {% endblock %}
  </head>

  <body>
    <div class="page">
      <img class="header" src="{{ url_for('static', filename='images/header.svg') }}">
      
      <main class="half-splitter">
        <div class="content content--half">
          <section class="container content-box">
            {% block content %} {% endblock %}
          </section>
        </div>

        <div class="content content--half">
          <section class="container history-box">
            {% block history_box %} {% endblock %}
          </section>

          <section class="container secret-box">
            {% block secret_box %} {% endblock %}
          </section>

          <section class="container quantum-box plot_quantum" id="plotContainer" style="display: none;">
            {% block plot_quantum %} {% endblock %}
          </section>
        </div>
      </main>

      <footer class="footer">
        <img class="cit-logo" src="{{ url_for('static', filename='images/CIT Logo.png') }}">
      </footer>
    </div>

    <!-- In case we need a specific Javascript Script for only a specific page -->
    {% block script %} {% endblock %}
  </body>
</html>
