{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styling/quantum_query.css') }}">
{% endblock %}

.main_section {
  background-color: transparent;
}

{% block rules %}
<div class="description-rules-container">
    <div id="bv_description">
        <h2>Bernstein-Vazirani Algorithm</h2>
        <p>The <a href="https://en.wikipedia.org/wiki/Bernstein%E2%80%93Vazirani_algorithm" target="_blank" rel="noopener noreferrer"><strong>Bernstein-Vazirani (BV)</strong></a> algorithm is a quantum approach designed by Ethan Bernstein and Umesh Vazirani to to learn a string encoded in a function. It efficiently identifies a secret bit pattern by making only one call to a quantum oracle, using quantum superposition to guess the secret number with a guess.</p>
        <p>In this game, the player’s objective is to guess a hidden binary number that’s represented by a series of lamps. Each lamp can be either "on" (1) or "off" (0), simulating binary digits in the secret number. We could compare how a human, classical computer, and the quantum computer (BV Algorithm), attempts to deduce the secret binary number.</p>
        <p>The <a href="https://en.wikipedia.org/wiki/Oracle_(computer_science)" target="_blank" rel="noopener noreferrer"><strong>oracle</strong></a>  in this game acts as a helpful tool, similar to its role in the BV algorithm. The <a href="https://en.wikipedia.org/wiki/Oracle_(computer_science)" target="_blank" rel="noopener noreferrer"><strong>oracle</strong></a>  reveals if the count of "on" lamps is odd or even, providing clues about the binary state of each lamp. The player uses these responses to make educated guesses about the secret number.</p>
    </div>

    <div id="rules">
        <h2>Rules of the Game</h2>
        <ul>
            <li>Each lamp represents a binary digit in the hidden number.</li>
            <li>Functional lights are "1" (on), while broken lights are "0" (off).</li>
            <li>Players can "ask the oracle" to determine if the number of "on" lamps is odd or even.</li>
            <li>Using the oracle's responses, players deduce the binary pattern of the secret number.</li>
            <li>The game ends when the player correctly guesses the secret number or exhausts all attempts.</li>
        </ul>
    </div>
</div>
{% endblock %}



{% block content %}
<img class="logo_title" src=".\static\images\logo.svg" alt="Tebak Lampu">
<form action="/process_game_type" method="post" id="game_form" onsubmit="return validateForm()">
    <label for="gameType">Select Solver:</label>
    <select id="gameType" name="gameType">
      <option value="player_game">Player</option>
      <option value="classic_computer_game">Classical Computer</option>
      <option value="quantum_computer_game">Quantum Computer</option>
    </select>

    <br><br>
    <label for="secretLength">Secret number length:</label>
    <select id="secretLength" name="secretLength">
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
    </select>
    <br><br>
    
    <div id="directInputContainer" class="input-container">
      <label for="inputSecretNumber">Secret Number:</label>
      <select id="inputSecretNumber" name="inputSecretNumber" onchange="toggleInputTypeA()">
        <option value="random">Random</option>
        <option value="not_random">Predetermined</option>
      </select>
    </div>

    <input type="hidden" id="secretNumbers" name="secretNumbers">
    <div id="lampContainer" style="display: none;"></div>

    <button type="submit" onclick="readBinarySecret();">Start Game</button>
</form>
{% endblock %}

{% block script %}
<script>
    function toggleInputTypeA() {
      const inputChoice = document.getElementById('inputSecretNumber').value;
      const lampContainer = document.getElementById("lampContainer");
      if (inputChoice === 'random') {
        lampContainer.style.display = 'none';
        document.getElementById("secretNumbers").value = ""
      } else if (inputChoice === 'not_random') {
        generateLamps();
        lampContainer.style.display = 'block';
      }
    }

    function generateLamps() {
      const lampContainer = document.getElementById("lampContainer");
      const secretLength = parseInt(document.getElementById("secretLength").value);
      lampContainer.innerHTML = ""; 

      for (let lampNumber = 0; lampNumber < secretLength; lampNumber++) {
          const label = document.createElement("label");
          label.classList.add("toggle-label");
          label.textContent = `Lamp ${lampNumber + 1}:`;

          const toggleButton = document.createElement("label");
          toggleButton.classList.add("toggle-button");

          const checkbox = document.createElement("input");
          checkbox.setAttribute("type", "checkbox");
          checkbox.setAttribute("name", `lamp${lampNumber}`);
          checkbox.setAttribute("id", `lamp${lampNumber}`);

          const slider = document.createElement("span");
          slider.classList.add("slider");

          const greenBox = document.createElement("span");
          greenBox.classList.add("green-box");

          toggleButton.appendChild(checkbox);
          toggleButton.appendChild(slider);
          toggleButton.appendChild(greenBox);

          lampContainer.appendChild(label);
          lampContainer.appendChild(toggleButton);
          lampContainer.appendChild(document.createElement("br"));
      }
    }

    function readBinarySecret() {
      const secretLength = parseInt(document.getElementById("secretLength").value);
      let binarySecret = "";
      for (let lampNumber = 0; lampNumber < secretLength; lampNumber++) {
          const lampCheckbox = document.getElementById(`lamp${lampNumber}`);
          binarySecret += lampCheckbox.checked ? "1" : "0";
      }
      document.getElementById("secretNumbers").value = binarySecret;
    }
</script>
{% endblock %}
