{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='styling/mobile.css') }}">
{% endblock %}

{% block content %}
<h1>Input Secret Number</h1>
<form action="/process_mobile_input" method="post" onsubmit="return validateForm()">
    <input type="hidden" id="secretNumber" name="secretNumber">
    <label for="secretLength">Secret number length:</label>
    <select id="secretLength" name="secretLength" onchange="generateLamps()">
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
    </select>
    <br><br>
    <div id="lampContainer">
        <!-- Help meh -->
    </div>
    <br>
    <button type="submit" id="submitBtn">Submit Secret Number</button>

    <script>
        function generateLamps() {
            const lampContainer = document.getElementById("lampContainer");
            const secretLength = parseInt(document.getElementById("secretLength").value);
            lampContainer.innerHTML = ""; 

            for (let lampNumber = 0; lampNumber < secretLength; lampNumber++) {
                const label = document.createElement("label");
                label.classList.add("toggle-label");
                label.textContent = `Lamp ${lampNumber + 1}:`;

                const toggleButton = document.createElement("label");
                toggleButton.classList.add("toggle-button");

                const checkbox = document.createElement("input");
                checkbox.setAttribute("type", "checkbox");
                checkbox.setAttribute("name", `lamp${lampNumber}`);
                checkbox.setAttribute("id", `lamp${lampNumber}`);

                const slider = document.createElement("span");
                slider.classList.add("slider");

                const greenBox = document.createElement("span");
                greenBox.classList.add("green-box");

                toggleButton.appendChild(checkbox);
                toggleButton.appendChild(slider);
                toggleButton.appendChild(greenBox);

                lampContainer.appendChild(label);
                lampContainer.appendChild(toggleButton);
                lampContainer.appendChild(document.createElement("br"));
            }
        }

        generateLamps();

        function readBinarySecret() {
            const secretLength = parseInt(document.getElementById("secretLength").value);
            let binarySecret = "";
            for (let lampNumber = 0; lampNumber < secretLength; lampNumber++) {
                const lampCheckbox = document.getElementById(`lamp${lampNumber}`);
                binarySecret += lampCheckbox.checked ? "1" : "0";
            }
            document.getElementById("secretNumber").value = binarySecret;
        }

        function validateForm() {
            readBinarySecret(); 
            return true; 
        }
    </script>
</form>



{% endblock %}
