body {
    font-family: Arial, sans-serif;
}

#chances{
    display: none;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.remaining-guesses {
    font-size: 16px;
    margin-bottom: 20px;
}

.toggle-label {
    display: block;
    margin-bottom: 10px;
}

.toggle-button {
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center content */
  position: relative;
  cursor: pointer;
  user-select: none;
}

.toggle-button input {
  display: none;
}

.slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    margin-left: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.green-box {
    display: inline-block;
    width: 100px;
    height: 60px;
    background-image: url("/static/images/oracle_off.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 45px;
    
}

input:checked + .slider + .green-box {
    background-image: url("/static/images/quantum_math.svg");
    margin-left: 25px;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-secondary:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn-primary:focus {
    outline: none;
    box-shadow: none;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

#oracleButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.electricity-indicator {
    margin-left: 37px;
    font-size: 14px;
    color: #888;
    font-weight: bold;
}

.lamp-pattern-v2 .toggle-label {
    margin-left: 5px;
  }

  .lamp-pattern-v2 .lamp-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-right: 20px; 
    margin-left: -10px;
  }
  .lamp-pattern-v2 .green-box {
    margin-left: 25px;
  }
  .lamp-pattern-v2 .lamp-container:last-child {
    margin-right: 0; 
  }
  
  .lamp-pattern-v2 .lamp-label-container {
    margin-bottom: 5px; 
  }
  
  #numpadInput{
    display: none;
  }
  .answer{
    text-align: center;
    margin: 10px;
  }
  
  .lamp-pattern-v2 input:checked + .slider + .green-box {
    background-image: url("/static/images/on.svg");
  }
  .lamp-pattern-v2 .green-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("/static/images/off.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 4px;
    opacity: 1;
  }
  
  .lamp-pattern-v2 .toggle-button {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  
  .lamp-line {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }
.history-box {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .history-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .history-box table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .history-box th,
  .history-box td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .history-box .gray-square {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/static/images/oracle_off.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
  
  .history-box .green-square {
    display: inline-block;
    width: 70px;
    height: 40px;
    background-image: url("/static/images/quantum_math.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
  
  .history-box .dark-green-square {
    display: inline-block;
    width: 30px;
    height: 40px;
    background-image: url("/static/images/oracle_off.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
  
  .history-box .green-square:last-child,
  .history-box .dark-green-square:last-child {
    margin-right: 5px;
  }
  
  .highlight {
    background-color: yellow;
  }
  

  .win {
    background-color: rgb(135, 201, 135);
  }

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  /* Styles for the overlay background */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
  }

  .modal-title{
    font-weight: bold;
  }

  .answer{
    text-align: center;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  /* Add this to your existing CSS stylesheet */
#secretNumberSpan {
  font-size: 24px; /* Adjust the size as needed */
  font-weight: bold;
  color: #e74c3c; /* Adjust the color as needed */
}
/* Add this to your existing CSS stylesheet */
@keyframes pulse {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
}

#secretNumberSpan {
  font-size: 24px; /* Adjust the size as needed */
  font-weight: bold;
  color: #e74c3c; /* Adjust the color as needed */
  animation: pulse 1s infinite; /* Apply the animation */
}
